{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section guide-item">
  <div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
      <div class="title text-center" data-aos="fade-up" data-aos-duration="1500">
        <h1>{{ .Title }}</h1>
        <div class="border-meghna-lg" data-aos="zoom-in" data-aos-duration="1500"></div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="post-single-content">
          {{ .Content | markdownify }}
        </div>
        {{ if .Site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}
