{{ $clip := apply (split (.Get "clip") " ") "int" "." }}
{{ $img := resources.Get (.Parent.Get "image") }}

{{ $calloutLeft := index $clip 0 }}
{{ $calloutTop := index $clip 1 }}
{{ $calloutWidth := index $clip 2 }}
{{ $calloutHeight := index $clip 3 }}

{{/* Horizontal Position */}}

{{ $descLeft := add $calloutLeft $calloutWidth }}
{{ $descMaxWidthLeft := mul 0.75 (sub $img.Width $descLeft) }}
{{ $descRight := add 5 (sub $img.Width $calloutLeft) }}
{{ $descMaxWidthRight := mul 0.75 (sub $img.Width $descRight) }}

{{ $imgWidth100 := div (float $img.Width) 100 }}
{{ $imgHeight100 := div (float $img.Height) 100 }}

{{ if gt $descMaxWidthLeft $descMaxWidthRight }}
    {{ .Scratch.Set "dmw" $descMaxWidthLeft }}
    {{ .Scratch.Set "dhp" (delimit (slice "left: " (div $descLeft $imgWidth100) "%;") "" | safeCSS) }}
    {{ .Scratch.Set "ec2" "image-callout-shift-left" }}
{{ else }}
    {{ .Scratch.Set "dmw" $descMaxWidthRight }}
    {{ .Scratch.Set "dhp" (delimit (slice "right: " (div $descRight $imgWidth100) "%;") "" | safeCSS) }}
    {{ .Scratch.Set "ec2" "image-callout-shift-right" }}
{{ end }}
{{ $descMaxWidth := div (.Scratch.Get "dmw") $imgWidth100 }}
{{ $descHorizontalPosition := .Scratch.Get "dhp" }}

{{/* Vertical Position */}}

{{ $descTop := $calloutTop }}
{{ $descMaxHeightTop := sub $img.Height $descTop }}
{{ $descBottom := add 1 (sub $img.Height (add $calloutTop $calloutHeight)) }}
{{ $descMaxHeightBottom := sub $img.Height $descBottom }}

{{ if gt $descMaxHeightTop $descMaxHeightBottom }}
    {{ .Scratch.Set "dmh" $descMaxHeightTop }}
    {{ .Scratch.Set "dvp" (delimit (slice "top: " (div $descTop $imgHeight100) "%;") "" | safeCSS) }}
    {{ .Scratch.Set "ec" "image-callout-border-top" }}
{{ else }}
    {{ .Scratch.Set "dmh" $descMaxHeightBottom }}
    {{ .Scratch.Set "dvp" (delimit (slice "bottom: " (div $descBottom $imgHeight100) "%;") "" | safeCSS) }}
    {{ .Scratch.Set "ec" "image-callout-border-bottom" }}
{{ end }}
{{ $descMaxHeight := div (.Scratch.Get "dmh") $imgHeight100 }}
{{ $descVerticalPosition := .Scratch.Get "dvp" }}

{{ $inverseWidthScale := mul (div (float $img.Width) $calloutWidth) 100 }}

{{ $bgPosLeft := mul 100 (div $calloutLeft (float (sub $img.Width $calloutWidth))) }}
{{ $bgPosTop := mul 100 (div $calloutTop (float (sub $img.Height $calloutHeight))) }}

{{ $titleAlignCv := dict "left" "start" "center" "center" "right" "end" "top" "start" "bottom" "end"}}

{{ $titleAlign := index $titleAlignCv (default "left" (.Get "titlealign"))}}
{{ $titleVAlign := index $titleAlignCv (default "left" (.Get "titlevalign"))}}

{{ $uniqueID := md5 (delimit (slice .Inner (.Get "title") (.Get "clip") (.Parent.Get "image")) " ") }}

{{ $css := printf `
    #callout-%[1]s {
        width: %[2]f%%;
        height: %[3]f%%;
        left: %[4]f%%;
        top: %[5]f%%;
        background: url(%[6]s) no-repeat;
        background-size: %[7]f%% auto;
        background-position: left %[8]f%% top %[9]f%%;
    }

    #callout-%[1]s > span {
        place-self: %[10]s %[11]s;
        text-align: %[12]s;
    }
` $uniqueID (div $calloutWidth $imgWidth100) (div $calloutHeight $imgHeight100) (div $calloutLeft $imgWidth100) (div $calloutTop $imgHeight100) $img.Permalink $inverseWidthScale $bgPosLeft $bgPosTop $titleVAlign $titleAlign (default "left" (.Get "titlealign")) }}

{{ .Page.Scratch.Add "inline-css" (slice $css) }}

<div class='image-callout {{ .Scratch.Get "ec2" }}'>
<a href="#" class='image-callout-btn' id='callout-{{ $uniqueID }}'>
<span>{{ .Get "title" | markdownify }}</span>
</a>
<div class='image-callout-desc image-callout-inactive {{ .Scratch.Get "ec" }}' style="{{ $descHorizontalPosition }} {{ $descVerticalPosition }} min-height: {{ div $calloutWidth $imgWidth100 }}%; max-width: {{ $descMaxWidth }}%; max-height: {{ $descMaxHeight }}%">
<div>
<h5>{{ .Get "title" | markdownify }}</h5>
{{ .Inner | markdownify }}
</div>
</div>
</div>